# Node
node_modules/
.npm/
.pnpm-store/
.next/
.next-static/
.next-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Env
.env
.env.*
!.env.example

# Misc
.DS_Store
coverage/
dist/
build/
out/
.out/
.tmp/
.temp/
*.local

# Editor
.vscode/
.idea/
